<%- include('../../common/header') %>
  <%- include('../../common/side-bar-stock') %>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <%- include('../../common/navbar') %>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Types table</h6>
                </div>
              </div>
            <div class="card-body py-3 pb-2">
                <%- include('../../../errors/flash-message')  %>
                <form role="form" action="../../type/store" method="post">
                    <div class="row">
                        <div class="col-md-3"> 
                            <div class="input-group input-group-outline mb-3 is-filled">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" value="" required>
                                <input type="hidden" class="form-control" name="typeOf" value="garment_factory" required>
                              </div>
                        </div> 
                        <div class="col-md-4"> 
                            <div class="input-group input-group-outline mb-3 is-filled">
                                <label class="form-label">Description</label>
                                <input type="text" class="form-control" name="description" value="" >
                              </div>
                        </div>
                        <div class="col-md-2"> 
                            <div class="input-group input-group-outline mb-3 is-filled">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                  </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                  </form>
                
                <table id="tbcloth" class="table align-items-center justify-content-center mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% typeList.forEach((element,key) => { %>
                            <tr>
                                <td><%= element.id %></td>
                                <td><%= element.name %></td>
                                <td><%= element.description %></td>
                                <td style="display: flex;">
                                    <a href="type/edit/<%= element.id %>" class="btn btn-sm btn-warning">Edit</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
    </div>
</main>
</script>
<script >
   $("#tbcloth").DataTable(
    {
                    "order": [[0, 'desc']],
                }
   );
</script>
<!--https://datatables.net/forums/discussion/68595/remove-show-entries remove entities-->


<%- include('../../common/footer') %> 