<%- include('../../common/header') %> 
<%- include('../../common/side-bar') %>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <%- include('../../common/navbar') %>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Types table
                    <a id="tol" href="#" class="text-white"> <i data-toggle="tooltip" 
                        title="Type of process can be added from Supplier and Admin"
                          class="fa fa-question-circle float-end p-2" aria-hidden="true"></i></a>
                  </h6>
                </div>
              </div>
            <div class="card-body py-3 pb-2">
                <%- include('../../../errors/flash-message')  %>
                <a href="type/create" class="btn btn-sm btn-info" style="float: right;">Add New Types</a>
                <table id="tbcloth" class="table align-items-center justify-content-center mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>TypeOf</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% typeList.forEach((element,key) => { %>
                            <tr>
                                <td><%= element.id %></td>
                                <td><%= element.name %></td>
                                <td><%= element.typeOf %></td>
                                <td><%= element.description %></td>
                                <td style="display: flex;">
                                    <a href="type/edit/<%= element.id %>" class="btn btn-sm btn-warning">Edit</a>
                                    &nbsp;
                                    <form action="type/delete/<%= element.id %>" method="POST">
                                         <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
    </div>
</main>
<script >
    
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
   $("#tbcloth").DataTable(
    {
                    "order": [[0, 'desc']],
                }
   );
</script>
<!--https://datatables.net/forums/discussion/68595/remove-show-entries remove entities-->


<%- include('../../common/footer') %> 