<%- include('../../common/header') %>
  <%- include('../../common/side-bar') %>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <%- include('../../common/navbar') %>
        <div class="container-fluid py-4">
          <div class="row">
            <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
              <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Techpack processing</h6>
                  </div>
                </div>
                <div class="card-body py-3 pb-2">
                  <%- include('../../../errors/flash-message') %>
                    <a href="techpack/create" class="btn btn-sm btn-info" style="float: right;">Add New Techpack</a>
                    <table id="tb" class="table align-items-center justify-content-center mb-0">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Category</th>
                          <th>Sub-category</th>
                          <th>Seasion</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%  techpackList.forEach((element,key)=> { if(element.createById == userId ) { %>
                          <tr>
                            <td>
                              <%= element.id %>
                            </td>
                            <td><a href="techpack/detail/<%= element.id %>" class="text-primary">
                                <%= element.name %>
                              </a></td>
                            <td>
                              <%= element.category.name %>
                            </td>
                            <td>
                              <%= element.sub_category !==null ? element.sub_category.name : '' %>
                            </td>
                            <td>
                              <%= element.seasion %>
                            </td>
                            <td>
                              <span class="btn btn-sm <%=element.status==7?'btn-danger':'btn-info' %>">
                                <% if (element.status==0) { %>
                                  new techpack
                                  <% } else if (element.status==1) { %>
                                    confirmed
                                    <% } else if (element.status==2) { %>
                                      processing
                                      <% } else if (element.status==3) { %>
                                        done processing
                                        <% } else if (element.status==4) { %>
                                          appvoed
                                          <% } else if (element.status==5) { %>
                                            product
                                            <% } else if (element.status==6) { %>
                                              draft
                                              <% } else { %>
                                                cancel
                                                <% } %>
                              </span>
                            </td>
                            <td style="display: flex;">
                              <% if(element.status!=7){%>
                                <a href="techpack/create/<%= element.id %>" class="btn btn-sm btn-success">Clone</a>
                                &nbsp;
                                <a href="techpack/edit/<%= element.id %>" class="btn btn-sm btn-warning">Edit</a>
                                &nbsp;
                                <%} else {%>
                                  <a type="button" class="btn btn-sm bg-gradient-secondary note" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-notex="<%= element.reason %>"><i
                                      class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                  </a>
                                  <%}%>

                                    <!-- <form action="techpack/delete/<%= element.id %>" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger"><i
                                    class="material-icons">close</i></button>
                              </form> -->
                            </td>
                          </tr>
                          <% } }) %>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-6">
            <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
              <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">All Techpack of Item</h6>
                  </div>
                </div>
                <div class="card-body ">
                  <table id="tb_item" class="table align-items-center justify-content-center mb-0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Sub-category</th>
                        <th>Seasion</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% techpackList.forEach((element)=> { %>
                        <tr>
                          <td>
                            <%= element.id %>
                          </td>
                          <td><a href="techpack/detail/<%= element.id %>" class="text-primary">
                              <%= element.name %>
                            </a></td>
                          <td>
                            <%= element.category.name %>
                          </td>
                          <td>
                            <%= element.sub_category !==null ? element.sub_category.name : '' %>
                          </td>
                          <td>
                            <%= element.seasion %>
                          </td>
                          <td>
                            <span class="btn btn-sm <%=element.status==7?'btn-danger':'btn-info' %>">
                              <% if (element.status==0) { %>
                                new techpack
                                <% } else if (element.status==1) { %>
                                  confirmed
                                  <% } else if (element.status==2) { %>
                                    processing
                                    <% } else if (element.status==3) { %>
                                      done processing
                                      <% } else if (element.status==4) { %>
                                        approved
                                        <% } else if (element.status==5) { %>
                                          product
                                          <% } else if (element.status==7) { %>
                                            cancel
                                            <% } else { %>
                                              draft
                                              <% } %>
                            </span>
                          </td>
                          <td style="display: flex;">
                            <% if(element.status!=7){%>
                              <a href="techpack/create/<%= element.id %>" class="btn btn-sm btn-success">Clone</a>
                              &nbsp;
                              <a href="techpack/edit/<%= element.id %>" class="btn btn-sm btn-warning">Edit</a>
                              &nbsp;
                              <%} else {%>
                                <a type="button" class="btn btn-sm bg-gradient-secondary note" data-bs-toggle="modal"
                                  data-bs-target="#exampleModal" data-notex="<%= element.reason %>"><i
                                    class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </a>
                                <%}%>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Note</h5>
              <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.6/datatables.min.js">
    </script>
    <script>
      $("#tb").DataTable({
                "order": [[0, "desc"]] // Default sorting on the first column in descending order
            });
      $("#tb_item").DataTable({
                "order": [[0, "desc"]] // Default sorting on the first column in descending order
            });
    </script>
    <script>
      var noteButtons = document.querySelectorAll('.note');
      const modalBody = document.querySelector('.modal-body');
      noteButtons.forEach(button => {
        button.addEventListener('click', () => {
          const notexValue = button.getAttribute('data-notex');
          console.log(`Giá trị của data-notex: ${notexValue}`);
          modalBody.innerHTML = notexValue;
        });
      });
    </script>
    <%- include('../../common/footer') %>