<%- include('../../common/header') %>
    <%- include('../../common/side-bar') %>

        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <%- include('../../common/navbar') %>
                <div class="container-fluid py-4">
                    <div class="row">
                        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
                            <div class="card">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                        <h6 class="text-white text-capitalize ps-3">Users table</h6>
                                    </div>
                                </div>
                                <div class="card-body py-3 pb-2">
                                    <%- include('../../../errors/flash-message') %>
                                        <% if (roles=='manager' || roles=='admin' ) { %>
                                            <a href="roles" class="btn btn-sm btn-success "
                                                style="float: right;margin-left: 10px;">Roles</a>
                                            <% } %>
                                                <a href="user/create" class="btn btn-sm btn-info"
                                                    style="float: right;">Add New User</a>
                                            
                                                    <table id="tbuser"  class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Name</th>
                                                                <th>Email</th>
                                                                <th>Tel</th>
                                                                <th>Roles</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% users.forEach((element,key)=> { %>
                                                                <% if(element.status==0){ %>
                                                                    <tr style="background-color: rgb(255, 175, 175);">
                                                                        <% } else {%>
                                                                    <tr style="background-color: rgb(149, 255, 163);">
                                                                        <% } %>
                                                                            <td>
                                                                                <%= element.id %>
                                                                            </td>
                                                                            <td>
                                                                                <%= element.name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= element.email %>
                                                                            </td>
                                                                            <td>
                                                                                <%= element.tel %>
                                                                            </td>
                                                                            <td>
                                                                                <%= element.roles %>
                                                                            </td>
                                                                            <td style="display: flex;">
                                                                                <a href="user/edit/<%= element.id %>"
                                                                                    class="btn btn-sm btn-warning">Edit</a>
                                                                            </td>
                                                                    </tr>
                                                                    <% }) %>
                                                        </tbody>
                                                    </table>
                                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/v/dt/dt-2.0.6/datatables.min.js">
        </script>
        <script>
            $("#tbuser").DataTable();
        </script>
        <!--https://datatables.net/forums/discussion/68595/remove-show-entries remove entities-->
        <%- include('../../common/footer') %>